.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #5e5743;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: block;
}

.product-card img {
    max-width: 100%;
    margin-bottom: 5px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 8px 0;
}

.product-card p {
    font-size: 1rem;
    color: #888;
}