.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    display: block;
}

.product-card img {
    max-width: 100%;
    margin-bottom: 8px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 8px 0;
}

.product-card p {
    font-size: 1rem;
    color: #888;
}